<h4>Using JQuery inside Angular4</h4>
<button id="buttonjq">Show text</button>
<p id="textjq" class="alert alert-warning">
	Hello guys here I am
</p>

<div id="box" style="border: 1px solid black; width: 150px; height: 50px;">
	Hello guys here I am, trying to live the adventure of my life.
	Hope you're trying too.
</div>

<editor apiKey="test" [id]="shopDetails" (onKeyUp)="richTextEditor($event)" [init]="{plugins: 'link, paste, table'}"></editor>

<hr/>
Father:
<h1>{{title}}</h1>
<ul>
	<li>Pink T-shirt</li>
	<li>Black hat</li>
</ul>

<hr/>

<p>
	Park name: 
	<input type="text" [(ngModel)]="parkName" (keyup)="showName()" />
</p>
<p>
	Result: {{parkName}}
</p>

<div *ngIf="myPark">
	<h4>MyPark data from the the son</h4>
	<ol>
		<li>{{myPark.name}}</li>
		<li>{{myPark.area}}</li>
		<li>{{myPark.vegetation}}</li>
		<li>
			<span *ngIf="myPark.vegetation == true">Open</span>
			<span *ngIf="myPark.vegetation != true">Closed</span>
		</li>
	</ol>
</div>

<hr/>

<p *ngIf="parkName">
	Son:
	<app-parks [name]="parkName" 
			   [totalArea]="765"
			   (sendMeData)="seeParkData($event)">
	</app-parks>
</p>