<div class="col-lg-6">
	<h1>{{ title }}</h1>

	<div class="alert alert-success" *ngIf="message == 'logged'">User logged successfully!!!</div>

	<div class="alert alert-danger" *ngIf="message != '' && message != 'logged'">{{ message }}</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-lg-10">
		<p>
			<label>Email</label>
			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
			<span *ngIf="!email.valid && email.touched">The Email field is not valid</span>
		</p>
		<p>
			<label>Password</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">The Password field is not valid</span>
		</p>
		<input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!loginForm.form.valid"/>
	</form>
</div>